<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <main class="main">
      <h1 class="title">Adivina el número</h1>
      <form action="#" class="form">
        <label for="user-number">
          Introduce aquí tu número
        </label>
        <input type="number" id="user-number" class="input" min="0" max="100" />
        <input type="button" value="Prueba" class="btn" />
      </form>
      <p class="text">Escribe un número y dale a Prueba</p>
    </main>
    <aside class="aside">
      <p class="intent-number">0</p>
    </aside>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
